<section id="project">
    <div class="container">

        <div class="title">
            <h1>Наші проекти</h1>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 project-item">
                <div class="img-wrapper">
                    <img src="img/684_small.jpg" alt="img">
                    <div class="overlay">

                    </div>
                </div>
                <span class="type-project">Web site</span>
                <div class="name-project">Технониколь</div>
                <p class="description-project">Адаптивный сайт международной компании «ТехноНИКОЛЬ», специализирующейся на продаже материалов и инструментов для промышленного, гражданского и частного домостроения.</p>
            </div>

            <div class="col-md-4 col-lg-4 project-item">
                <div class="img-wrapper">
                    <img src="img/684_small.jpg" alt="img">
                    <div class="overlay">

                    </div>
                </div>
                <span class="type-project">Web site</span>
                <div class="name-project">Технониколь</div>
                <p class="description-project">Адаптивный сайт международной компании «ТехноНИКОЛЬ», специализирующейся на продаже материалов и инструментов для промышленного, гражданского и частного домостроения.</p>
            </div>

            <div class="col-md-4 col-lg-4 project-item">
                <div class="img-wrapper">
                    <img src="img/684_small.jpg" alt="img">
                    <div class="overlay">

                    </div>
                </div>
                <span class="type-project">Web site</span>
                <div class="name-project">Технониколь</div>
                <p class="description-project">Адаптивный сайт международной компании «ТехноНИКОЛЬ», специализирующейся на продаже материалов и инструментов для промышленного, гражданского и частного домостроения.</p>
            </div>

            <div class="col-md-4 col-lg-4 project-item">
                <div class="img-wrapper">
                    <img src="img/684_small.jpg" alt="img">
                    <div class="overlay">

                    </div>
                </div>
                <span class="type-project">Web site</span>
                <div class="name-project">Технониколь</div>
                <p class="description-project">Адаптивный сайт международной компании «ТехноНИКОЛЬ», специализирующейся на продаже материалов и инструментов для промышленного, гражданского и частного домостроения.</p>
            </div>

            <div class="col-md-4 col-lg-4 project-item">
                <div class="img-wrapper">
                    <img src="img/684_small.jpg" alt="img">
                    <div class="overlay">

                    </div>
                </div>
                <span class="type-project">Web site</span>
                <div class="name-project">Технониколь</div>
                <p class="description-project">Адаптивный сайт международной компании «ТехноНИКОЛЬ», специализирующейся на продаже материалов и инструментов для промышленного, гражданского и частного домостроения.</p>
            </div>

            <div class="col-md-4 col-lg-4 project-item">
                <div class="img-wrapper">
                    <img src="img/684_small.jpg" alt="img">
                    <div class="overlay">

                    </div>
                </div>
                <span class="type-project">Web site</span>
                <div class="name-project">Технониколь</div>
                <p class="description-project">Адаптивный сайт международной компании «ТехноНИКОЛЬ», специализирующейся на продаже материалов и инструментов для промышленного, гражданского и частного домостроения.</p>
            </div>


        </div>


    </div>
</section>