<section id="order">
    <div class="container">
        <h1>Замовити сайт</h1>

        <div class="form-container">
            <input type="text" name="name" placeholder="Ваше ім'я">
            <input type="text" name="phone" placeholder="Телефон">
            <input type="email" name="email" placeholder="E-mail">
            <textarea name="description" rows="5" placeholder="Розкажіть про ваш проект"></textarea>

            <div class="button-group">
                <button class="form-button attachment">
                    <i class="fa fa-paperclip" aria-hidden="true"></i>
                    Прикріпити файл
                </button>

                <button class="form-button">
                    Замовити
                </button>
            </div>
        </div>
    </div>
</section>