<section id="feature" class="feature">
	<div class="feature_overlay">
			<div class="container">
					<div class="row">
							<div class="main_feature_content_area">
									<div class="col-sm-12">
											<div class="heading_title text-center">
													<h2>We Offer</h2>
													<p>Medical Services</p>
											</div>
									</div>

									<div class="main_feature_content text-center">
											<div class="col-sm-3">
													<div class="single_feature">
															<div class="single_feature_img">
																	<img src="img/mountains.svg" alt="" />
															</div>
															<div class="separator"></div>
															<h3>Medical Tours</h3>
															<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
													</div>
											</div>
											<div class="col-sm-3">
													<div class="single_feature">
															<div class="single_feature_img">
																	<img src="img/doctor.png" alt="" />
															</div>
															<div class="separator"></div>
															<h3>Pediatrics</h3>
															<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
													</div>
											</div>
											<div class="col-sm-3">
													<div class="single_feature">
															<div class="single_feature_img">
																	<img src="img/mountains.svg" alt="" />
															</div>
															<div class="separator"></div>
															<h3>Medical Tours</h3>
															<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
													</div>
											</div>
											<div class="col-sm-3">
													<div class="single_feature">
															<div class="single_feature_img">
																	<img src="img/doctor.png" alt="" />
															</div>
															<div class="separator"></div>
															<h3>Pediatrics</h3>
															<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>
													</div>
											</div>
									</div>
							</div>
					</div>
			</div>
	</div>
</section>