<section id="contact" class="contact">
		<div class="main_contact">

				<div class="contactwithmap_content">

						<div class="contact_overlay">
								<div class="col-sm-8 col-xs-12">
										<div class="locations_map">
												<img src="" alt="" />
										</div>
								</div>
								<div class="col-sm-3 col-xs-12">
										<div class="contactwithmap_menu">
												<h2>Navigation</h2>
												<ul class="footer_menu">
														<li><a href="#">Home</a></li>
														<li><a href="#">About</a></li>
														<li><a href="#">Doctors</a></li>
														<li><a href="#">Medicine</a></li>
														<li><a href="#">Online Chat</a></li>
												</ul>

												<div class="contactwithmap_socail_bookmark">
														<a href=""><i class="fa fa-facebook"></i></a>
														<a href=""><i class="fa fa-instagram"></i></a>
												</div>

										</div>


								</div>                                
						</div>

				</div>
		</div>
</section><!-- End of contact With Map Section -->