<section id="abouts" class="webhost_service">
	<div class="container-fluid">
			<div class="row">
					<div class="main_webhost_service_area text-center col-container">
							<div class="col-sm-6 no-padding col">
									<div class="single_webhost_left">
											<div class="row">
													<div class="col-sm-8 col-sm-offset-2">
															<div class="single_webhost_left_img">
																	<img src="img/pill.png" alt=""/>
															</div>
															<div class="single_webhost_left_content">
																	<h3>#1 Online Medical Service</h3>
																	<p>This is Photoshop's version  of Lorem Ipsum. 
																			Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, 
																			lorem quis bibendum auctor, nisi elit consequat ipsum, 
																			nec sagittis sem nibh id elit.</p>
																	<a href="" class="btn">More</a>
															</div>
													</div>
											</div>
									</div>
							</div>
							<div class="col-sm-6 no-padding col">
									<div class="single_webhost_right">
											<div class="row">
													<div class="col-sm-8 col-sm-offset-2">
															<div class="single_webhost_right_img">

																	<img src="img/world.png" height="228" alt="" />
															</div>
															<div class="single_webhost_right_content">
																	<h3>#1 World Famous Doctors</h3>
																	<p>This is Photoshop's version  of Lorem Ipsum. 
																			Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, 
																			lorem quis bibendum auctor, nisi elit consequat ipsum, 
																			nec sagittis sem nibh id elit.</p>
																	<a href="" class="btn">More</a>
															</div>
													</div>
											</div>
									</div>
							</div>
					</div>
			</div>
	</div>
</section>